body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #c7ecd6;
}

.animatedBackground{
  animation:slide 25s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(150, 99, 209) 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-10;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:15s;
  z-index:-10;
}

.bg3 {
  animation-duration:20s;
  background-image: linear-gradient(-50deg, rgb(121, 209, 99) 50%, rgb(156, 104, 223) 50%);
  z-index:-10;
}



.main{
  width: 40vw;
  height: 80vh;
  display: flex;
  /* border-radius: 10px; */
  background-color: #27ee7770;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(20, 182, 101, 0.45);
  z-index:10;
}

.mobile{
  width: 80vw;
  height: 80vh;
}


h1{
  text-align: center;
}

.row{
  margin-top: 10px !important;
}

.card{
  width: 12vw;
  height: 10vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	font-size: 3em;
  font-weight: bold;
  color: rgb(49, 75, 63);
  margin: 10px;
  margin-top: 20px;
  background-color: rgba(36, 70, 50, 0.808) !important;
}

.mobile .card{
  height: 10vh !important;
  font-size: 6em;
}

.cardCerto{
  background-color: rgba(29, 247, 0, 0.753) !important;
}

.cardMeioCerto{
  background-color: rgba(253, 173, 0, 0.61) !important;
}

.cardErrado{
  background-color: rgba(250, 0, 0, 0.61) !important;
}

.linhaSelecionada{
  background-color: rgba(217, 255, 0, 0.39) !important;
}

.cardSelecionado{
  background-color: rgb(217, 255, 0) !important;
}

footer {
  position: fixed;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

@keyframes slide {
  0% {
    transform:translateX(-50%);
    transform:translateY(-50%);
    transform: rotate(0deg);
  }
  100% {
    transform:translateX(50%);
    transform:translateY(50%);
    transform: rotate(90deg);
  }
}